    <aside style="width: 280px;" class="bg-secondary text-white min-vh-100 position-fixed top-0 left-0">
       <div class="d-flex align-items-center justify-content-center fw-bold fs-3 p-3">Tradologie</div>
       <div class="d-flex align-items-center justify-content-center mt-3 rounded-circle mx-auto overflow-hidden position-relative" style="width: 80px; height: 80px;">
        <img src="<%= user.profile %>" alt="<%= user.fullname %>" id="profile-image" class="rounded-circle bg-white border overflow-hidden" style="width: 80px; height: 80px;">
        <input type="file" name="profile" class="position-absolute top-0 left-0 w-100 h-100" style="opacity: 0;" onchange="uploadProfile(event)">
       </div>
       <div class="d-flex align-items-center justify-content-center mt-3 flex-column">
        <p class="m-0 fw-bold"><%= user.fullname %></p>
        <small><%= user.email %></small>
       </div>          
    </aside>