<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="bg-primary text-white rounded d-flex align-items-center justify-content-center position-relative" style="min-height: 150px;">
                <h1 class="fs-4 fw-bold text-center">Upload your file</h1>
                <input type="file" class="position-absolute top-0 left-0 w-100 h-100" style="opacity: 0;">
            </div>
        </div>
    </div>
</div>